node_modules/
dist/
target/
gen/

pnpm-lock.yaml
**/*.lock

.turbo
.eslintcache

.prettierrc
*d.ts

.gitignore
.github
.eslintignore
.nvmrc
.prettierignore
LICENSE

public/
static/
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.ico
