---
const { link, icon, title } = Astro.props
---

<a
  href={link}
  target="_blank"
  class="flex items-center gap-2 transition-colors hover:text-teal-600"
>
  <i class=`fab text-xl ${icon}`></i>
  <span class="font-medium">{title}</span>
</a>
