<footer class="bg-stone-800 text-stone-200">
  <div class="mx-auto max-w-5xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="text-center text-sm text-stone-400">
      &copy; 2025 Балтер Илья Николаевич. Все права защищены.
    </div>
  </div>
</footer>
